body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Raleway',sans-serif;
	color: #fff;
}
.banner{
	height: 100%;
	width: 100%;
	background:url('overlay.png'),url('WolfPlaza.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.addPadding{
	padding-top: 75px;	
}
.banner2{
	height: 100vh;
	width: 100%;
	background:url('overlay.png'),url('WolfPlaza.jpg');
	background-position: top;
	color: #fff;
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.banner .navbar{
	margin-top:0%;
}
.banner .navbar-brand{
	color: #fff;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 0%;
}
.banner .nav{
	margin-right:0%;
}
.banner .nav li a{
	color:#aaa;
	font-size: 1.2em;
}
.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	/* background: #e91d43; */
	padding:10px 20px;
	font-size: 2em;
	font-weight: 600;	
}

.main {
  margin-top: 80px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
}

.table-responsive {
    max-height: 400px;
}

/* .form-a{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
} */