{% extends "base.html" %}
{% block content %}

        <div class="col-md-8 offset-md-2 info">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <h1 class="text-center">NC State Campus Jobs</h1>
                  </div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                  </div>
                <div class = "d-flex justify-content-around text-center">
                    
                    <a href="/review" ><button type="submit" class="btn btn-danger btn-lg" >Add Reviews</button></a>
                
                    <a href="/pageContent"><button type="submit" class="btn btn-danger btn-lg">View Reviews</button></a>

                    
                </div>
              </div>
            
            
            <!-- <a href="#" class="btn text-center">GET STARTED</a> -->
            
        </div>
    
{% endblock %}
