{% extends "base.html" %} {% block content %}

<link
  rel="stylesheet"
  href="{{url_for('static', filename='/css/page_content.css')}}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<form class="filter" action="/pageContentPost" method="post">
  <input type="text" placeholder="Search.." name="search" />
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br /><br />
<div style="background-color: white">
  <table class="sortable table table-hover">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Job Description</th>
        <th>Department</th>
        <th>Location(s)</th>
        <th>Hourly Pay</th>
        <th>Employee Benefits</th>
        <th>Review</th>
        <th>Rating</th>
        <th>Recommendation</th>
        <th>Reviewed By</th>
        {% if current_user.is_admin %}
        <th>Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}

      <tr>
        <td>
          <strong
            ><a
              class="article-title"
              href="{{ url_for('review', review_id=entry.id) }}"
              >{{ entry.job_title }}</a
            ></strong
          >
        </td>
        <td>{{ entry.job_description }}</td>
        <td>{{ entry.department }}</td>
        <td>{{ entry.locations }}</td>
        <td>{{ entry.hourly_pay }}</td>
        <td>{{ entry.benefits }}</td>
        <td>{{ entry.review }}</td>
        <td>{{ entry.rating }}</td>
        <td>{{ entry.recommendation }}</td>
        <td>{{ entry.author.username }}</td>
        {% if current_user.is_admin %}
        <td>
          <form action="{{ url_for('delete_review', review_id=entry.id) }}" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
      </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
